.sidebar {
    height: 100vh;
    flex: 0.2;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    background-color: #040404;
}

.sidebar__logo {
    object-fit: contain;
    height: 70px;
    width: 100px;
}